{
    "presets" : [
        [
            "env",
            {
                "modules" : false,
                "exclude" : ["transform-es2015-classes"]
            }
        ]
    ],
    "plugins" : [
        "transform-class-properties"
    ],
    "env" : {
        "test" : {
            "sourceMaps" : "inline",
            "plugins" : [
                [
                    "babel-plugin-webpack-alias",
                    {
                        "config": "./build/webpack.prod.config.js"
                    }
                ]
            ]
        }
    }
}