{
    "rules" : {
        "color-no-invalid-hex" : true,
        "font-family-no-duplicate-names" : true,
        "function-calc-no-unspaced-operator" : true,
        "function-linear-gradient-no-nonstandard-direction" : true,
        "string-no-newline" : true,
        "unit-no-unknown" : true,
        "shorthand-property-no-redundant-values" : true,
        "property-no-unknown" : true,
        "keyframe-declaration-no-important" : true,
        "declaration-block-no-duplicate-properties" : true,
        "declaration-block-no-redundant-longhand-properties" : true,
        "declaration-block-no-shorthand-property-overrides" : true,
        "selector-pseudo-class-no-unknown" : true,
        "selector-pseudo-element-no-unknown" : true,
        "selector-type-no-unknown" : [true, {
            "ignore" : ["custom-elements"]
        }],
        "media-feature-name-no-unknown" : true,
        "at-rule-no-unknown" : [true, {
            "ignoreAtRules" : [
                /^font/,
                /^color/,
                /^border/,
                /^tip/
            ]
        }],
        "comment-no-empty" : true,
        "max-nesting-depth" : 6,
        "no-extra-semicolons" : true,
        "no-invalid-double-slash-comments" : true,
        "color-named" : "never",
        "function-url-no-scheme-relative" : true,
        "function-url-scheme-blacklist" : ["ftp", /^data\:/],
        "number-max-precision" : 5,
        "time-min-milliseconds" : 100,
        "unit-blacklist" : ["rem"],
        "value-no-vendor-prefix" : true,
        "declaration-block-single-line-max-declarations" : 1,
        "selector-max-attribute" : 2,
        "selector-max-class" : 4,
        "selector-max-combinators" : 5,
        "selector-max-compound-selectors" : 6,
        "selector-max-empty-lines" : 0,
        "selector-max-id" : 3,
        "selector-max-type" : 5,
        "selector-max-universal" : 2,
        "selector-no-qualifying-type" : [true, {
            ignore : ["attribute", "class"]
        }],
        "selector-no-vendor-prefix" : true,
        "media-feature-name-no-vendor-prefix" : true,
        "at-rule-no-vendor-prefix" : true,
        "comment-word-blacklist" : ["/^TODO/", "/^todo/"],
        "color-hex-case" : "upper",
        "color-hex-length" : "short",
        "font-weight-notation" : "numeric",
        "function-comma-newline-after" : "always-multi-line",
        "function-comma-newline-before" : "never-multi-line",
        "function-comma-space-after" : "always",
        "function-comma-space-before" : "never",
        "function-max-empty-lines" : 0,
        "function-name-case" : "lower",
        "function-parentheses-newline-inside" : "never-multi-line",
        "function-parentheses-space-inside" : "never",
        "function-url-quotes" : "never",
        "function-whitespace-after" : "always",
        "number-leading-zero" : "always",
        "number-no-trailing-zeros" : true,
        "string-quotes" : "single",
        "length-zero-no-unit" : true,
        "unit-case" : "lower",
        "value-keyword-case" : "lower",
        "value-list-comma-newline-after" : "always-multi-line",
        "value-list-comma-newline-before" : "never-multi-line",
        "value-list-comma-space-after" : "always",
        "value-list-comma-space-before" : "never",
        "value-list-max-empty-lines" : 0,
        "custom-property-empty-line-before" : "never",
        "property-case" : "lower",
        "declaration-bang-space-after" : "never",
        "declaration-bang-space-before" : "always",
        "declaration-colon-newline-after" : "always-multi-line",
        "declaration-colon-space-after" : "always",
        "declaration-colon-space-before" : "never",
        "declaration-empty-line-before" : "never",
        "declaration-block-semicolon-newline-after" : "always",
        "declaration-block-semicolon-newline-before" : "never-multi-line",
        "declaration-block-semicolon-space-after" : "always-single-line",
        "declaration-block-semicolon-space-before" : "never",
        "declaration-block-trailing-semicolon" : "always",
        "block-closing-brace-empty-line-before" : "never",
        "block-closing-brace-newline-after" : "always",
        "block-closing-brace-newline-before" : "always",
        "selector-attribute-brackets-space-inside" : "never",
        "selector-attribute-operator-space-after" : "never",
        "selector-attribute-operator-space-before" : "never",
        "selector-attribute-quotes" : "always",
        "selector-combinator-space-after" : "always",
        "selector-combinator-space-before" : "always",
        "selector-descendant-combinator-no-non-space" : true,
        "selector-pseudo-class-case" : "lower",
        "selector-pseudo-class-parentheses-space-inside" : "never",
        "selector-pseudo-element-case" : "lower",
        "selector-pseudo-element-colon-notation" : "double"
    }
}