.markdown-body {
    pre{
        position: relative;
    }
    
    code span{
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }

    .lang-js::before,
    .language-js::before,
    .lang-html::before,
    .language-html::before,
    .lang-shell::before,
    .language-shell::before,
    .lang-md::before,
    .language-md::before,
    .lang-text::before,
    .language-text::before,
    .lang-less::before,
    .language-less::before,
    .lang-vue::before,
    .language-vue::before{
        font-family: PingFangSC-Light, sans-serif;
        font-size: 12px;
        color: #CCC;
        position: absolute;
        transform: scale(0.8);
        top: 5px;
        right: 5px;
        letter-spacing: 1px;
    }

    .lang-html::before,
    .language-html::before{
        content: 'HTML';
    }

    .lang-less::before,
    .language-less::before{
        content: 'LESS';
    }

    .lang-js::before,
    .language-js::before{
        content: 'JavaScript';
    }

    .lang-shell::before,
    .language-shell::before{
        content: 'Shell';
    }

    .lang-md::before,
    .language-md::before{
        content: 'Markdown';
    }

    .lang-text::before,
    .language-text::before{
        content: 'Text';
    }

    .lang-vue::before,
    .language-vue::before{
        content: 'Vue';
    }
}
