.markdown-body {
    h1 {
        font-size: 2.8em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
        font-size: 1.25em;
    }

    .highlight pre,
    pre{
        padding: 16px 50px 16px 16px;
    }

    pre code{
        width: 100%;
        white-space: pre-wrap;
        word-break: break-all;
    }

    img{
        border: 1px #E6E6E6 solid !important;
        padding: 2px;
        margin-bottom: 10px;
    }

    input{
        font-size: 14px;
    }

    mor-private-nav-menu li + li{
        margin: 0;
    }
}
