
.components {
  font-size: 12px;
  word-break: break-all;
}
.components td {
  padding: 4px 8px;
}
.components td.mark:nth-child(1),
.components td.mark:nth-child(2),
.components td.mark:nth-child(3),
.components td.mark:nth-child(4),
.components td.mark:nth-child(5) {
  width: 100px;
}
.components td.item {
  min-width: 40px;
}
.components .mark {
  text-align: center;
}
.components .mark p {
  margin: 0;
}
.has {
  color: #1dbd1f;
}
.no {
  color: #ea2936;
}
