
.components {
  font-size: 12px;
  word-break: break-all;
  position: relative;
}
.components.hidesame td.mark {
  display: none;
}
.components.hidesame td.mark.show {
  display: none;
}
.components td {
  padding: 4px 8px;
}
.components td.mark {
  display: none;
}
.components td.mark.show {
  display: table-cell;
}
.components td.item {
  min-width: 40px;
}
.components .mark {
  text-align: center;
}
.components .mark p {
  margin: 0;
}
.has {
  color: #1dbd1f;
}
.no {
  color: #ea2936;
}
