.colorFlex {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}
.colorFlex .item {
  color: #FFF;
  padding: 20px;
  box-sizing: border-box;
}
.colorFlex .item.colorDark {
  color: #000;
}
.colorFlex .item p {
  margin: 2px 0;
  font-size: 13px;
}
.colorFlex .item p.color {
  text-transform: uppercase;
}
.colorFlex .group {
  padding: 0;
}
.colorFlex .group.colorDark .item {
  color: #000;
}
.colorFlex .w3 {
  width: 31%;
}
.colorFlex .w4 {
  width: 23%;
}
