@-webkit-keyframes apparent{
    from {
        opacity: 1;
    }
    25%{
        opacity: 0.7;
    }
    50%{
        opacity: 0.3;
    }
    75%{
        opacity: 0.7;
    }
    to { 
        opacity: 1;
    }
}