@font-size : 16px;

@color-theme : #F33D5D;
@color-light-theme : #F86F88;
@color-dark-theme : #D22343;

@color-success : #23C455;
@color-warning : #F1A437;
@color-danger : #EB0E23;
@color-primary : #2185D0;
@color-minor : #A9A9A9;
@color-info : #03A6B9;

@color-black : #17212D;
@color-light-black : #303C4B;
@color-extra-light-black : #45505C;
@color-blue : #7C8BA0;
@color-light-blue : #8E9CAF;
@color-extra-light-blue : #A8B3C2;
@color-silver : #D6DDE5;
@color-light-silver : #E2E8EE;
@color-extra-light-silver : #EDF1F5;
@color-gray : #E6E6E6;
@color-light-gray : #F0F0F0;
@color-white : #FFFFFF;

// ---

@borderRadius : 3px;

@borderColorBlack : #111;
@borderColorDark : #ccc;
@borderColor : #ddd;
@borderColorMinor : #eee;
@borderColorLight : #f0f0f0;
@borderColorLighter : #f6f6f6;

@bgColorLight : #f0f0f0;

@fontColorBlack: #000;
@fontColorDark: #333;
@fontColor: #666;
@fontColorMinor: #999;
@fontColorLight: #aaa;
@fontColorLighter: #ccc;
@fontColorWhite: #fff;

@formHeight: 42px;

@gridColumnNumber: 16;
@gridGutterWidth: 1.5%;
@gridColumnWidth: (100% - (@gridColumnNumber - 1)*@gridGutterWidth)/@gridColumnNumber;
@gridColumnWidthGapAverage: (100% - (@gridColumnNumber + 1)*@gridGutterWidth)/@gridColumnNumber;
@gridColumnWidthWithoutGap: 100%/@gridColumnNumber;