@fontSize : 16px;

@themeColor : #F3655A;
@themeInvert : #fff;
@successColor : #5BBD72;
@successInvert : #fff;
@warningColor : #F0AD4E;
@warningInvert : #fff;
@dangerColor : #D34836;
@dangerInvert : #fff;
@minorColor : #bbb;
@minorInvert : #fff;
@lightColor : #fafafa;
@lightInvert : #666;
@deepColor : #1B1C1D;
@deepInvert : #fff;
@infoColor : #00B5AD;
@infoInvert : #fff;

@borderRadius : 3px;

@borderColorBlack : #111;
@borderColorDark : #ccc;
@borderColor : #ddd;
@borderColorMinor : #eee;
@borderColorLight : #f0f0f0;
@borderColorLighter : #f6f6f6;

@bgColorLight : #f0f0f0;

@fontColorBlack: #000;
@fontColorDark: #333;
@fontColor: #666;
@fontColorMinor: #999;
@fontColorLight: #aaa;
@fontColorLighter: #ccc;
@fontColorWhite: #fff;

@formHeight: 42px;

@gridColumnNumber: 16;
@gridGutterWidth: 1.5%;
@gridColumnWidth: (100% - (@gridColumnNumber - 1)*@gridGutterWidth)/@gridColumnNumber;
@gridColumnWidthGapAverage: (100% - (@gridColumnNumber + 1)*@gridGutterWidth)/@gridColumnNumber;
@gridColumnWidthWithoutGap: 100%/@gridColumnNumber;